<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <style>
        .main {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .card {
            margin: 10px 1px 10px 1px;
        }
    </style>
    {% block stylesheets %} {% endblock %}
    <script></script>
    {% block scripts %} {% endblock %}
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Download Bilibili</a>
            <form class="d-flex navbar-form">
                <input class="form-control me-2" type="search" placeholder="BVid" />
                <button class="btn btn-outline-success" type="submit">
                    Jump
                </button>
            </form>
        </div>
    </nav>
    <div class="container main">{% block content %} {% endblock %}</div>
</body>

</html>