{% extends "base.html" %}
<!-- -->
{% block stylesheets %}
<style>
    .table th,
    .table td {
        vertical-align: middle;
    }

    .navbar-form {
        margin-bottom: 0;
        margin-top: 0;
    }

    .progress {
        margin-top: 1px;
        margin-bottom: 1px;
    }

    @media (max-width: 992px) {
        .downtext-lg {
            display: none;
        }
    }

    @media (min-width: 992px) {
        .downtext-sm {
            display: none;
        }
    }
</style>
{% endblock %}
<!-- -->
{% block scripts %}
{% set parts=video['meta']['pages'] %}
<script>
    var source = new EventSource("/progress");
    source.onerror = (e) => console.error(e)
    let meta = {{ parts | tojson }};

    function progress(id, percentage) {
        let bar = document.getElementById(id);
        bar.style = `width: ${percentage / 2}%`;
        bar.setAttribute('aria-valuenow', percentage / 2);
        bar.textContent = `${id} ${percentage}%`
    }

    function wait_progress(e_name) {
        return new Promise((resolve, reject) => {
            function listener(event) {
                progress(event.type, event.data);
                if (event.data == 100) {
                    source.removeEventListener(e_name, listener);
                    resolve();
                }
            }
            source.addEventListener(e_name, listener);
        })
    }

    async function do_download(part) {
        document.getElementById(`download-${part}-btn`).setAttribute('disabled', '');
        setTimeout(() => { fetch('download/' + part) }, 500);
        await Promise.all([
            wait_progress(`process-${part}`),
            wait_progress(`upload-${part}`),
        ]);
        document.getElementById(`download-${part}-btn`).removeAttribute('disabled');
        open('retrieve/' + part, '_blank');
    }

    function download(part) {
        // for (let p of meta) {
        //     if (part === undefined || part === p['page'])
        //         do_download(p)
        // }
        do_download(part);
    }
</script>
{% endblock %}
<!-- -->
{% block content %}
<div class="row">
    <div class="col col-lg-8 col-md-12">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <caption>
                        视频分P
                        <!-- <button class="btn btn-outline-primary download-all" onclick="download()">
                            全部下载
                        </button> -->
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">下载</th>
                            {#
                            <th scope="col">画质</th>
                            #}
                            <th scope="col" width="30%">标题</th>
                            <th scope="col" width="50%">进度</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p, info in video['parts'].items() %}
                        <tr>
                            <td scope="row">{{ p }}</td>
                            <td>
                                <button class="btn btn-sm btn-outline-primary download-btn" onclick="download({{ p }})"
                                    data-cid="{{ info['cid'] }}" id="download-{{ p }}-btn">
                                    <span class="downtext-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                            height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                            <path
                                                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                            <path
                                                d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                        </svg></span>
                                    <span class="downtext-lg">下载</span>
                                </button>
                            </td>
                            {#
                            <td></td>
                            #}
                            <td>{{ info['meta']['part'] }}</td>
                            <td>
                                <div class="progress" style="width: 100%">
                                    <div class="progress-bar progress-bar-striped active" id="process-{{ p }}"
                                        role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="50"
                                        style="width: 0%">
                                        <span class="progress-bar-label"></span>
                                    </div>
                                    <div class="progress-bar progress-bar-striped bg-info active" id="upload-{{ p }}"
                                        role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="50"
                                        style="width: 0%">
                                        <span class="progress-bar-label"></span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ video['meta']['title'] }}</h5>
                <p class="card-text">{{ video['meta']['desc'] }}</p>
                <p class="card-text">
                    <small class="text-muted">{{ video['meta']['pubdate'] | ctime }}</small>
                </p>
            </div>
            <img class="card-img-top" src="{{ video['meta']['pic'] }}" referrerpolicy="no-referrer" />
        </div>
    </div>
</div>
{% endblock %}